<launch>
    <arg name="id" value="S1" />
    
    <group ns="$(arg id)">
		<node pkg="px4_path_planner" type="px4_path_planner_node" name="px4_path_planner" output="screen">
			<rosparam command="load" file="$(find px4_path_planner)/params/common.yaml" />
			<param name="wp_file_location" value="$(find px4_path_planner)/path/wp0.csv"/>
			<param name="agent_id" value="$(arg id)"/>
		</node>
		
    	<include file="$(find mavros)/launch/px4.launch">
        	<arg name="fcu_url" value="udp://:14540@127.0.0.1:14557" />
    	</include>
    </group>

</launch>
